@charset "utf-8";
body{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 70px;
    background-color:lightblue;
}
.main{
    display: flex;   
    height: 500px;
}
.sidecontainer{
    width: 300px;
    height: 100%;
    padding: 30px;
    background-color: khaki;
}
ol{
    list-style: none;
}
li{
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    background-color: #ffffff;
}
.sidecontainer__ol__li{
    margin-bottom: 0;
}
.red{
    width: 100%;
    height: 130px;
    margin-top: 30px;
    background-color: deeppink;
}
.section{
    display: flex;
    padding: 30px 40px 30px 40px;
    width: 900px;
    height: 100%;
    background-color:#dcdcdc;
}
.section__left{
    width: 250px;
    height: 100%;
    margin-right: 20px;
    background-color: darkseagreen;
}
.section__right{
    width: 550px;
    height: 100%;
    background-color: darkseagreen;
}
.footer{
    width: 100%;
    height: 130px;
    background-color: #999;
}