body {
    width:100%;
}

.wrapper {
    width: 375px;
    margin:0 auto;
}

.header {
    height: 40px;
    background-color: rgb(145, 243, 243);
}

.main {
    height: 150px;
    background-color: bisque;
}

.nav {
    height: auto;
    background-color: blue;
    padding:30px 20px 50px 20px;
}


.box1 {
    display: flex;
    margin-bottom: 15px;
}

.box1:last-child {
    margin-bottom: 20px;
}

.box-left {
    width:70px;
    height: 70px;
    background-color: #fff;
    margin-right: 15px;
}

.box-right {
    width: 250px;
    height: 70px;
    background-color: #fff;
}


.button {
    width:270px;
    height: 40px;
    background-color: rgb(246, 202, 44);
    border-radius: 30px;
    margin:0 auto;
}

.footer {
    height: 110px;
    background-color: blueviolet;
}