@charset "utf-8";

body{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    height: 70px;
    background-color: #4dcece;
}

main{
    display: flex;
    height: 500px;
}

main .left{
    width: 300px;
    background-color: #fdda78;
}

main .right{
    width: 900px;
    background-color: #98d681;
}

footer{
    height: 130px;
    background-color: rgb(185,185,185);
}