body {
    width:100%;
}

.wrapper {
    width: 1200px;
    margin:0 auto;
}

.header {
    height: 70px;
    background-color: azure;
}

.main {
    display: flex;
}

.left {
    width: 300px;
    height: 500px;
    background-color: blanchedalmond;
}

.box1 {
    display: flex;
    margin:10px 30px 20px 30px;
}

.box1:first-child {
    margin-top: 30px;
}

.mini-box {
    width:40px;
    height:40px;
    background-color: #fff;
    margin-right: 10px;
}

.mini-box2{
    width:190px;
    height:40px;
    background-color: #fff;
}

.box-red{
    width: 240px;
    height: 130px;
    background-color: red;
    margin: 10px 30px 30px 30px;
}

.right {
    width:900px;
    height:500px;
    background-color:brown;
    display: flex;
}

.box2 {
    width:250px;
    height:440px;
    background-color: green;
    margin:30px 20px 30px 40px;
}

.box-white{
    width:210px;
    height:400px;
    background-color: #fff;
    margin:20px 20px;
}
.box3 {
    row-gap: 20px;
    width:550px;
    height:440px;
    background-color: rgb(4, 225, 4);
    margin:30px 40px 30px 0px;
    padding:30px;
}

.grid-wrapper {
   display: flex;
}

.grid {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

.grid:nth-child(3){
    margin-right: 0px;
}

.grid-wrapper2{
    display: flex;
 }

.grid2 {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    background-color: #fff;
}

.grid2:nth-child(3):nth-child(3){
    margin-right: 0px;
}

.footer {
    width: 1200px;
    height: 130px;
    background-color: blueviolet;
}