nav{
    background-color: rgb(11, 133, 160);
    color: #fff;
    padding: 5px 0;
    font-weight: 600;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}