@charset "utf-8";
/*@media以外の所は全てのサイズで読み込まれる。*/
header{
    height: 45px;
    background-color: #fff;
    position: relative;
}
.title{
    width: 90px;
    height: 25px;
    background-color: #7BE9ED;
    position: absolute;
    top: 10px;
    left: 10px;
}
.nav{
    display: flex;
    text-align: right;
    position: absolute;
    top: 13px;
    right: 19px;
}
.nav>li{
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background-color: #F5C72C;
    margin-left: 5px;
}
.main-visual{
    height: 175px;
    background-color: #707F89;
}
.section{
    padding: 10px 10px 200px;
}
.section1{
    margin-bottom: 40px;
}
.section1__ul{
    display: flex;
}
.section1__ul>li{
    width: 40%;
    height: 40px;
    background-color: #7A93A5;
    margin-right: 2px;
}
.section1__ul>:first-child{
    background-color: #59B2F7;
}
.section1__ul>:last-child{
    margin-right: 0px;
}
.section1__content{
    height: 150px;
    margin-top: 2px;
    background-color: #97B3C9;
}
.section2{
    margin: 0 auto 40px;
}
.section2__ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section2__ul>li{
    width: 45.33%;
    height: 170px;
    background-color: #FFD35C;
    margin-right: 15px;
    margin-bottom: 15px;
}
.section2__ul>li:nth-child(even){
    margin-right: 0px;
}
.section2__ul>li:nth-child(n+5){
    margin-bottom: 0px;
}
.button{
    width: 77.33%;
    /*width: 290px;*/
    height: 65px;
    border-radius: 32px;
    background-color: #EF3D3D;
    margin: 40px auto 0px;
}
.section3{
    display: block;
}
.section3>li{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.section3__left{
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    background-color: #56DE9A;
}
.section3__right{
    width: 77.46%;
    height: 80px;
    background-color: #C0FDDF;
}
.section__right-content{
    height: 450px;
    background-color: #CDD6DD;
    margin-top: 40px;
}
footer{
    height: 184.5px;
    background-color: #707F89;
}
   @media screen and (min-width:768px) and ( max-width:1024px) {
       /*　画面サイズが768pxから1024pxまではここを読み込む　*/
       header{
        height: 100px;
        position: static;
    }
    .header__content-wrapper{
        max-width: 1020px;
        margin: 0 auto;
        position: relative;
    }
    .title{
        width: 280px;
        height: 50px;
        position: absolute;
        top: 25px;
        left: 20px;
        
    }
    .nav{
        display: flex;
        text-align: right;
        position: absolute;
        top: 24px;
        right: 20px;
    }
    .nav>li{
        width: 52px;
        height: 52px;
        border-radius: 100%;
        margin-left: 20px;
    }    
    .main-visual{
        height: 400px;
    }
    .section{
        display: flex;
        padding: 90px 20px 0;
    }
     .section__main-contents{
        flex-basis: 65.69%;
        margin-right: 30px;
    }
    .section1{
        margin-bottom: 60px;
    }
    .section1__ul{
        justify-content: space-between;
    }
    .section1__ul>li{
        width: 221px;
        height: 56px;
    }
    .section1__content{
        height: 263px;
        margin-top: 3px;
    }
    .section2__ul{
        justify-content: space-between;
    }
    .section2__ul>li{
        width: 210px;
       /* width: 210px;*/
        height: 210px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .section2__ul>li:nth-child(even){
        margin-right: 0px;
    }
    .button{
        width: 53.73%;
        /*width: 360px;*/
        height: 80px;
        border-radius: 40px;
        margin: 40px auto 84px;
    }
    .section3>li{
        margin-bottom: 40px;
    }
    .section3__left{
        width: 26.87%;
        /*width: 180px;*/
        height: 180px;
    }
    .section3__right{
        width: 73.13%;
        /*width: 490px;*/
        height: 180px;
        margin-top: 0;
    } 
    .section__right-content{
        flex-basis: 31.37%;
        height: 980px;
        margin-top: 0;
    }   
   }
   @media screen and (min-width:1024px) {
       /*　画面サイズが1024pxからはここを読み込む　*/
       header{
        height: 100px;
        position: static;
    }
    .header__content-wrapper{
        max-width: 1020px;
        margin: 0 auto;
        position: relative;
    }
    .title{
        width: 280px;
        height: 50px;
        position: absolute;
        top: 25px;
        left: 0px;
    }
    .nav{
        display: flex;
        text-align: right;
        position: absolute;
        top: 24px;
        right: 0px;
    }
    .nav>li{
        width: 52px;
        height: 52px;
        border-radius: 100%;
        margin-left: 20px;
    }    
    .main-visual{
        height: 400px;
    }
    .section{
        display: flex;
        justify-content: center;
        padding: 90px 0 0;
    }
    .section1{
        margin: 0 auto 60px;
    }
    .section__main-contents{
        width: 670px;
        margin-right: 30px;
    }
    .section1{
        margin: 0 0 60px;
    }
    .section1__ul{
    display: flex;
    }
    .section1__ul>li{
        width: 221px;
        height: 56px;
        margin-right: 4px;
    }
    .section1__content{
        height: 263px;
        margin-top: 3px;
    }
    .section2__ul{
        justify-content: space-between;
    }
    .section2__ul>li{
        width: 210px;
        height: 210px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .button{
        width: 360px;
        height: 80px;
        border-radius: 40px;
        margin: 40px auto 84px;
    }
    .section3>li{
        margin-bottom: 40px;
    }
    .section3__left{
        width: 180px;
        height: 180px;
    }
    .section3__right{
        width: 490px;
        height: 180px;
        margin-top: 0;
    } 
    .section__right-content{
        width: 320px;
        height: 980px;
        margin-top: 0;
    }   
       }