@charset "utf-8";
header{
    height: 40PX;
    background-color:#ACB1D6;
}
.main-visual{
    height: 150px;
    width: 100%;
    background-color: #DBDFEA;
    position: relative;
}
.main-visual__content{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    background-color: #8294C4;
    position: absolute;
    right: 20px;
    bottom: 20px;    
}
.main{
    background-color: #FFEAD2;
    padding: 20px 20px 50PX 20px;
}
.circle-list{
    display: flex;
    margin: 0 auto 20px;
    justify-content: space-between;
}
.circle-list>li{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #8294C4;
}
.circle-list>:last-child{
    margin-right:0;
}
.square-content{
    width: 100%;
    height: 100px;
    background-color: #ACB1D6;
    margin-bottom: 20px;
}
.square-list{
    display: flex;
    flex-wrap: wrap;
    width: 335px;
    margin: 0 auto;
    justify-content: space-between;
}
.square-list>li{
    width: 95px;
    height: 95px;
    margin-bottom: 20px;
    background-color: #fff;
}
.square-list>li:nth-child(n+4){
    margin-bottom: 0;
}
.buuton{
    width: 270px;
    height: 45px;
    border-radius: 50px;
    margin: 35px auto 0;
    background-color: #ACB1D6;
}
footer{
    height: 110px;
    background-color: #8294C4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__content{
    width: 150px;
    height: 60px;
    background-color: #fff;
    margin: 0 auto;
}