.inputArea{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

}

.inputArea input{
    box-sizing: border-box;
    height: 30px;
    padding: 8px;
    line-height: 1;
    font-size: 14px;
}

.inputTodo{
    width: 500px;
}

.inputArea .inputCompleteDateAria .inputCompleteDate{
    margin-left: 5px;
}

.inputArea .inputCompleteDate{
    padding: 13.5px 8px;
}

.inputArea button{
    padding: 4px 10px;
    margin-left: 10px;
}

.todoList{
    text-align: center;
    margin-top: 30px;
}

.todoItem{
    width: 800px;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    text-align-last: left;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px -5px #777777;
}

.todoItem .todoTextAria{
    width: 500px;
}

.todoItem button{
    height: 30px;
    margin:  auto 0 auto 10px;
}

.todoDataAria{
    margin-top: 10px;
    font-size: 10px;
}

.todoDataAria span + span{
    margin-left: 10px;
}
